h1 {
 color: darkgreen;
 font-family: Calibri;
 font-size: 60px;
 font-style: italic;
 width: 75%;
 text-align: center;
 }
header p {background: white;
         }
figure figcaption {
  font-family: Calibri;
  color: brightblue;
  padding: 10px
 }
figure img {
 width: 75%;
 height: auto;
 border: 3px solid black;
 padding: 10px;
 }
p {
  font-family: Calibri;
  font-size: 20px;
  width: 75%;
  background: lightyellow;
  margin-top: 20px;
}
p img {
  float: right;
  max-width: 30%;
  height: auto;
  margin-left: 30px;
  border: 3px solid black;
  padding: 5px;
}
